body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #595547;
}
h1, h2 {
	color: #270a1f;
}
h1 {
	font-size: 80pt
}
strong {
	color: #465945;
}